
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Favicon/logo.ico")" type="image/x-icon" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/inicio.css")">
    <title>NaceTuIdea</title>
</head>
<body>
    <header>
        <h2 class="logo">NaceTuIdea:)</h2>
        <nav class="navegacion">
            <a href="@Url.Action("Principal","Inicio")">Inicio</a>
            <a href="@Url.Action("Acerca", "Inicio")">Acerca De</a>
            <a href="@Url.Action("Contacto","Inicio")">Contactanos</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>
    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close"></ion-icon></span>
        <div class="form-box login">
            <h2>Login</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Recuerdame</label>
                    <a href="#">Olvido su Contraseña?</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>No tiene una Cuenta?<a href="#" class="register-link"> Registrate</a></p>
                </div>
            </form>
        </div>
        <div class="form-box register">
            <h2>Registrate</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" required>
                    <label>Nombre</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="call"></ion-icon></span>
                    <input type="text" required>
                    <label>Telefon</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> Acepta Terminos y Condiciones</label>
                </div>
                <button type="submit" class="btn">Registrarse</button>
                <div class="register-login">
                    <p> Ya tiene una cuenta?<a href="#" class="login-link"> Ingresa</a></p>
                </div>
            </form>
        </div>

    </div>
    <main>
        <section class="hero">
            <h1>Encuentra el local perfecto para tu negocio</h1>
            <p>Locales comerciales, oficinas y más en arriendo cerca de ti</p>
            <img src="~/Content/Media/hero-img.jpg" alt="Ilustración de locales" class="hero-img" />
        </section>
        <section id="featured-spaces">
            <div class="featured-hero">
                <div class="hero-content">
                    <span class="hero-label">[ ] PLUS</span>
                    <h2 class="hero-title">Espacios exclusivos. Propietarios excepcionales. Calidad verificada.</h2>
                </div>
                <div class="hero-image">
                    <img src="~/Content/Media/dest-img.jpg" alt="Espacio Destacado">
                </div>
            </div>
            <div class="featured-grid">
                <div class="space-card">
                    <img src="~/Content/Media/hero-local.jpg" alt="Espacio 1">
                    <div class="card-details">
                        <p class="price">desde $ 550.000/ mes</p>
                        <h3 class="space-name">Locales arriendo Bogota</h3>
                        <p class="more-info">Más de 35 metros cuadrados</p>
                    </div>
                </div>
                <div class="space-card">
                    <img src="~/Content/Media/hero-local2.jpg" alt="Espacio 2">
                    <div class="card-details">
                        <p class="price">desde $700.000 / mes</p>
                        <h3 class="space-name">locales Bogota</h3>
                        <p class="more-info">Más 26 metros cuadrados</p>
                    </div>
                </div>
                <div class="space-card">
                    <img src="~/Content/Media/hero-local3.jpg" alt="Espacio 3">
                    <div class="card-details">
                        <p class="price">desde $900.500 / mes</p>
                        <h3 class="space-name">locales colombia</h3>
                        <p class="more-info">Más de 28 metros cuadrados</p>
                    </div>
                </div>
                <div class="space-card">
                    <img src="~/Content/Media/hero-img4.jpg" alt="Espacio 4">
                    <div class="card-details">
                        <p class="price">desde $200.000 / día</p>
                        <h3 class="space-name">Locales Medellin</h3>
                        <p class="more-info">Más 1302 pies cuadrados</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="pasos-renta">
            <h2>Rentar un espacio es muy fácil</h2>
            <div class="pasos-container">
                <div class="pasos">
                    <div class="pasos-icon">
                        <ion-icon name="storefront-outline" size="large"></ion-icon>
                    </div>
                    <h3 class="pasos-number">1. ENCUENTRA UN ESPACIO</h3>
                    <p class="pasos-description">Disponemos de espacios comerciales flexibles, para reservar por mes o año</p>
                </div>

                <div class="pasos">
                    <div class="pasos-icon">
                        <ion-icon name="bulb-outline" size="large"></ion-icon>
                    </div>
                    <h3 class="pasos-number">2. ENVÍA TU IDEA</h3>
                    <p class="pasos-description">Cuando solicitas un espacio se envía directamente al propietario</p>
                </div>

                <div class="pasos">
                    <div class="pasos-icon">
                        <ion-icon name="card-outline" size="large"></ion-icon>
                    </div>
                    <h3 class="pasos-number">3. PAGA EN LÍNEA</h3>
                    <p class="pasos-description">Los precios son estandarizados y con pagos online seguros</p>
                </div>

                <div class="pasos">
                    <div class="pasos-icon">
                        <ion-icon name="people-outline" size="large"></ion-icon>
                    </div>
                    <h3 class="pasos-number">4. EMPIEZA</h3>
                    <p class="pasos-description">Una vez haya comenzado, únete a nuestra comunidad de innovadores y emprendedores</p>
                </div>
            </div>
        </section>
    </main>

    <script src="@Url.Content("~/Content/Js/Script.js")"></script>
    <script src="@Url.Content("~/Content/Js/acces.js")"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
